<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark ">
    <div class="container">
        <a class="navbar-brand" routerLink='/'>DatingApp</a>
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
            <ng-container *ngIf="accountService.currentUser$ | async">
                <li class=" nav-item ">
                    <a class="nav-link " routerLink='/members' routerLinkActive='active'>Matches</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link " routerLink='/lists' routerLinkActive='active'>Lists</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link " routerLink='/messages' routerLinkActive='active'>Messages</a>
                </li>
            </ng-container>
            <li class="nav-item ">
                <a class="nav-link " routerLink='/errors' routerLinkActive='active'>Errors</a>
            </li>
        </ul>

        <div class="dropdown " *ngIf="(accountService.currentUser$ | async ) as user" dropdown>
            <img src="{{user.photoUrl || './assets/user.png'}}" alt="{{user.username}}">
            <a class="dropdown-toggle text-light ml-2" dropdownToggle>Welcome {{user.knownAs | titlecase}}</a>
            <div class="dropdown-menu mt-3 " *dropdownMenu>
                <a class="dropdown-item " routerLink="/member/edit">Edit Profile</a>
                <div class="dropdown-divider "></div>
                <a class="dropdown-item " (click)="logout()">Logout</a>
                <div class="dropdown-divider "></div>
            </div>
        </div>


        <form *ngIf="(accountService.currentUser$ | async)===null " #loginForm='ngForm' class="form-inline mt-2 mt-md-0 " (ngSubmit)="login() " autocomplete="off ">
            <input name="username " [(ngModel)]="model.username " class=" form-control mr-sm-2 " type="text" placeholder="Username ">
            <input name="password " [(ngModel)]="model.password " class="form-control mr-sm-2 " type="password" placeholder="Password ">
            <button class="btn btn-success " type="submit ">Login</button>
        </form>
    </div>
</nav>